/* CatchCOD.com (Center for Organizational Development) CSS */

/* ---------------------< RESET DEFAULT VALUES >--------------- */

* { margin:0; padding:0; }

body {
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:62.5%; 	/* sets defualt em size (16px) to 10px equivalent */
	text-align:left;
	color:#000;
	margin:0;
	padding:0;
}

/* 	================================
	HEADINGS
	================================	*/
h1, h2, h3, h4, h5, h6 {
	font-family:Georgia, "Times New Roman", Times, serif;
	text-align:left;
	color:#39c;
	font-weight:lighter;
}

h1 { font-size:2.4em; margin:0 0 1.2em; }
h2 { font-size:2.1em; }
h3 { font-size:1.9em; }
h4 { font-size:1.7em; margin:0; }
h5 { font-size:1.5em; margin:0; }
h6 { font-size:1.3em; margin:0; }

h2.section-header {
	margin-top:1.2em;
}

/* 	================================
	LINKS
	================================	*/
a:link { color:#39c; text-decoration:none; border-bottom:none; }
a:visited { color:#39c; text-decoration:underline; border-bottom:none; }
a:hover, a:active { color:#39c; text-decoration:none; border-bottom:1px dotted #39c; }
a img { border:none; text-decoration:none; }

/* 	================================
	LISTS
	================================	*/
ul, ul li {	list-style:disc; }
ul li ul li { margin:0;	padding:0;list-style:circle; }

ul.bodyBullets { margin:0 0 1em 15px; padding:0; }
ul.bodyBullets li { margin:0 0 0 15px; padding:0 0 5px 0; }
ul.bodyBullets li ul li { margin:0; padding:0; }
ul.bodyBullets h5 { font-size:13px; margin:1em 0 0 0; }

ul.bodyBulletsAlpha li { margin:0 0 0 15px; padding:0 0 5px 0; list-style:none; }
ul.bodyBulletsAlpha li ul li { margin:0 0 0 25px; padding:0; list-style:disc; }

ul.bodyBullets strong { font-size:.95em; font-weight:bold; /*display:block;*/ }
ul#values.bodyBullets strong { display:inline; }

ol.numeric, ol.alpha { margin:0 0 0 15px; padding:0 0 0 2em; }
ol.numeric li { list-style:decimal; margin:.5em 0; }
ol.alpha { margin:0; }
ol.alpha li { list-style:lower-alpha; }
ol.alphaUpper { margin:0 0 1em 15px; padding:0 0 0 1em; }
ol.alphaUpper li { list-style:upper-alpha; font-weight:bold; }
ol.alphaUpper ul.bodyBullets { margin:10px 0 1em ; }
ol.alphaUpper ul.bodyBullets li { list-style:disc; font-weight:normal; }


/* 	================================
	TEXT LEVEL
	================================	*/
blockquote {
  	margin:0 0 1.5em 0;
  	font:italic 20px/24px Georgia, "Times New Roman", Times, serif;
  	padding:0 0 1.5em 0;
  	border-bottom:1px solid #dadada;
}


p.largeCallout { font-size:18px; line-height:24px; }

strong, em, strong em { font-size:1em; }

#content blockquote span.quoteAuthor {
	font: normal 16px/17px Georgia, "Times New Roman", Times, serif;
	display: block;
}

#content blockquote.excerpt {
	font: normal 13px/17px Georgia, "Times New Roman", Times, serif;
	display: block;
	background: #f9f9f9;
	padding: 2em;
}

#content blockquote.excerpt .title {
	font-size: 2em;
	text-align: center;
	color: #444;
	border: 2px solid #dedede;
	border-width:2px 0;
	padding: 10px 0;
}

#content blockquote.address-block {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	display: block;
	background: #f9f9f9;
	padding: 2em;
}

#content blockquote.address-block address {
	line-height: 1.2em;
}

#content blockquote span.authorMeta {
	font:normal 13px/17px Georgia, "Times New Roman", Times, serif;
	text-align:right;
	display:block;
	position:relative;
	right:20px;
}

address { font-size:1.3em; margin:0 0 1em 0; }

/* ---------------------</ RESET DEFAULT VALUES >--------------- */

/* ---------------------< PAGE LAYOUT >------------------------- */
#wrapper { width:990px; margin:0 auto; padding:0; }

#header { float:left; width:990px; 	background:url('../images/header_shadow.jpg') left top no-repeat; }
#header img.Logo { float:left; margin:20px; padding:10px; border:none; }

#quote {
	font:normal 1.2em/1.4em Georgia, "Times New Roman", Times, serif;
	color:#666;
	text-align:left;
	margin:50px 30px 0 380px;
	padding:0;
}

#quote em {
	font-size: 1.5em;
	line-height: 1.2em;
}

/*	-----------------< Navigation >--------------------- */
#navigation {
	clear:both;
	float:left;
	display:inline; /* IE Double Margin Float Bug Fix */
	width:960px;
	height:150px;
	margin:0 0 0px 15px;
	padding:0 0 10px 0;
	background:url('../images/slogan_header.jpg') left top no-repeat;
	border-bottom:1px solid #ccc;
}

#menu {
	float:left;
	display:inline; /* IE Floating Double Margin Fix */
	width:280px;
	height:150px;
	background:#999;
	color:#fff;
	padding:0;
	font-size:1.2em;
	text-align:right;
	margin:0 20px 0 0;
}
#menu ul { list-style:none; margin:5px 0 0 0; }
#menu ul li { position:relative; list-style:none; display:block; }
#menu ul li ul { display:none; /* hide the subnavs */ }
#menu ul li a:link, #menu ul li a:visited {
	color:#fff;
	text-decoration:none;
	border-bottom:none;
	list-style:none;
	display:block;
	width:260px;
	padding:2px 20px 2px 0;
}

#menu ul li a:hover, #menu ul li.over a:hover { color:#39c; background:#ccc; }

/*	-----------------< Sub Navigation >--------------------- */

#menu ul li ul {
	/* put subnavs to the right and hide all */
	display:none;
	position:absolute;
	top:0;
	left:280px;
	list-style:none;
	color:#fff;
	background-color:#999;
	margin:0;
	padding:0px;
	width:16em;
	list-style:none;
	text-align:left;
	z-index:10;
}
#menu ul li ul li { padding:0; }
#menu ul li:hover ul, #menu ul li.over ul {
	/* display submenus */
	display:block;
}

#menu ul ul li a:link, #menu ul ul li a:visited {
	color:#fff;
	text-decoration:none;
	padding:5px 0 5px 5px;
	width:16em;
}
#menu ul ul li a:hover {
	color:#39c;
	background-color:#ccc;
	text-decoration:none;
	padding:5px 0 5px 6px;
	width:15.5em;
}

/*	-----------------</ END NAVIGATION >--------------------- */

/*	--------< mainContent DIVS >------------ */
#mainContent {
	font-family:inherit;
	font-size:1em;
	float:left;
	clear:both;
	width:615px;
	margin:10px 15px;
	padding:0 25px 30px 0;
	border-right:1px solid #ccc;
	min-height:775px;
	display:inline; /* IE Double Margin Float Bug Fix */
}

#content { margin:0; padding:5px 0 0 0; font-family:inherit; color:#000; }

#content h1, h2, h3 {	padding:0 0 5px 0; }
#content h3 { margin:1em 0 0 0; }
#content h3.subtitle { margin:0; }

#content p { margin:0 0 1em 0; font-size:1.3em; line-height:1.7em;}
#content li { font-size:13px; line-height:17px; }

#content img { padding:5px; margin:0px 10px 10px 0; border:1px solid #999; }
#content img.floatleft { margin:10px 10px 10px 0; }
#content div.floatleft { display:inline; width:160px; margin:0 20px 0 0; _width:150px; }
#content div.floatleft p.photoAttr { font-size:10px; font-weight:bold; font-style:italic; }

#content p.quoteComment {
	font-family:Georgia, "Times New Roman", Times, serif;
	color:#666;
	text-align:left;
}
#content p.quoteAuthor {
	font-family:Georgia, "Times New Roman", Times, serif;
	text-align:right;
	color:#999;
	margin:10px 10px 40px 0;
}

#mapNote {
	float:left;
	clear:both;
	background:url('../images/note_TL.jpg') left top no-repeat;
	margin:0 0 0 20px;
	display:inline; /* IE Double Margin Float Bug Fix */
}

#map { width:570px; height:400px; margin:20px 0 20px 30px; padding:0; display:block; }

span#busHorn { opacity:0; float:left; display:inline; }
img#noisyBus:hover { cursor:pointer; }


/*	--------< hero-unit >------------ */
#content .hero-unit h2 {
	font-size: 2.2em;
}

#content .hero-unit p,
#content .hero-unit li {
	font-size: 1.5em;
}

#content .hero-unit.redbus {
	margin-top: 2em;
	padding: 2em;
	background: #f9f9f9;
	color: #444;
}

#content .hero-unit.redbus p {
	font-size: 1.3em;
}

/*	--------< sidebar DIVS >------------ */
#sidebar { float:right; width:300px; margin:20px 15px 10px 0; padding:0; font-family:inherit; }
#sidebar h2 { font-size:1.6em; font-weight:bolder; }

#sidebar a img, #sidebar a:link img, #sidebar a:visited img,
#sidebar a:hover img, #sidebar a:active img { border:none; text-decoration:none; }

#sidebar ul { list-style:none; margin:0; padding:0; }
#sidebar ul li { list-style:none; margin:5px 0 5px 0; font-size:1.2em; }

#sidebar ul.side-nav {
	margin: 0 0 5em;
}

/*	--------< footer DIVS >------------ */
#footerBorderTop {
	clear:both;
	float:left;
	margin:0 0 10px 15px;
	width:960px;
	height:2px;
	border-bottom:1px solid #ccc;
	display:inline;
}

#footer {
	clear:both;
	float:left;
	width:990px;
	height:125px;
	font-family:inherit;
	color:#666;
	background-image:url('../images/footer_shadow.jpg') right bottom no-repeat;
	margin:0 0 30px 0;
}
#footerContent {
	font-family:inherit;
	font-size:1em;
	color:#666;
	margin:10px 50px;
	padding:10px 0 0 0;
	text-align:center;
}
#footerContent p { text-align:center; }
#footerContent ul li {
	list-style:none;
	display:inline;
	text-align:center;
	color:#999;
	margin:0 0 0 8px;
	padding:0;
}

#footerContent ul li a:link,
#footerContent ul li a:visited { color:#999; text-decoration:none; border-bottom:none; }
#footerContent ul li a:hover,
#footerContent ul li a:active { color:#39c; text-decoration:none; border-bottom:1px dotted #39c; }

/* -----------------< classes >--------------------- */
.bubble {
	/* bubble for Google Maps */
	width:200px;
}
.bubble p {
	font-size: 0.9em;
}
.smallh2 {
	font-family:inherit;
	font-size:.8em;
	color:#39c;
}
.quoteComment {
	font-family:Georgia, "Times New Roman", Times, serif;
	color:#666;
	text-align:left;
}
.quoteAuthor {
	font-family:Georgia, "Times New Roman", Times, serif;
	text-align:right;
	color:#999;
	margin:10px 10px 10px 0;
	font-size: 1.2em;
}


/* --------< float classes >------------ */
.floatleft {
	float:left;
	clear:left;
	margin:0 0px 0px 0;
}
.floatright {
	float:right;
	clear:right;
	margin:0;
}

/* --------< sidebar classes >------------ */
.sidebarNote {
	background:url('../images/note_TL.jpg') left top no-repeat;
	width:190px;
	margin:0px 0 10px 110px;
	padding:10px 0 0 0px;
	display:block;
	min-height: 70px;
}

.sidebarNote p {
	font-family:inherit;
	font-size:1em;
	text-align:left;
	margin:0px 0 0 25px;
	line-height:1.5em;
}

.sidebarNoteBig {
	background:url('../images/note_TL.jpg') left top no-repeat;
	width:300px;
	margin:0px 0 10px -15px;
	padding:10px 0 0 0px;
	display:block;
}

.sidebarNoteBig p {
	font-family:inherit;
	font-size:1em;
	text-align:left;
	margin:0px 0 0 25px;
	line-height:1.5em;
}

.sidebarnotes {
	clear: both;
	float: left;
	margin: 0 0 20px 0;
}

.sidebarnotes .icon-stack {
	margin-left: -15px;
}

.blue {
	color: #00A0C6;
}

.gold {
	color: #ffaa00;
}


/* ---------------------</ PAGE LAYOUT >------------------------- */

/* ---------------------</ CSS HACKS >------------------------- */

/* -------< IE 5/6 Hacks >----------- */
/*Hide from IE Mac\*/
* html #header {display:inline;}
/*End hide from IE Mac*/

/*Hide from IE Mac\*/
* html #header img.Logo {display:inline;}
/*End hide from IE Mac*/

/*Hide from IE Mac\*/
* html #menu ul ul li a:hover {padding: 0 6px;}
/*End hide from IE Mac*/

/*Hide from IE Mac\*/
* html #map {margin:20px 0 20px 20px;}
/*End hide from IE Mac*/

/*Hide from IE Mac\*/
* html .sidebarNote {width:180px;}
/*End hide from IE Mac*/

/*Hide from IE Mac\*/
* html .sidebarNoteBig {margin:0 0 10px -8px; width:300px; font-size:1.1em;}
/*End hide from IE Mac*/

/*Hide from IE Mac\*/
* html #mainContent {height:775px; }
/*End hide from IE Mac*/


/*Hide from IE Mac\*/
* html #sidebar h1 { font-size:2em; font-weight:lighter; }
/*End hide from IE Mac*/

/*Hide from IE Mac\*/
* html #sidebar h2 { font-size:1.8em; font-weight:lighter; }
/*End hide from IE Mac*/

/*Hide from IE Mac\*/
* html #content img {margin:0px 15px 10px 0;}
/*End hide from IE Mac*/

/*Hide from IE Mac\*/
* html .bubble {width:250px;}
/*End hide from IE Mac*/

/*Hide from IE Mac\*/
* html div#content p.quoteAuthor {font-size:12px;}
/*End hide from IE Mac*/

/* -------< IE 7 Hacks >----------- */
/* For IE7 - tip from http://www.blazenewmedia.com/articles/targeting-ie-70 */
*:first-child+html #content img {margin:0 20px 10px 0;}
*:first-child+html #content h1 {font-size:2em;}
*:first-child+html #content h2 {font-size:1.8em;}
*:first-child+html #content h3 {font-size:1.6em;}
*:first-child+html #sidebar h1 {font-size:2em;}
*:first-child+html div#content p.quoteAuthor {font-size:12px;}
